.about-post {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.post-time {
  font-size: 0.8rem;
  color: #aaa;
}

.post-content {
  margin-bottom: 0.5rem;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments-count,
.likes-count {
  font-size: 0.8rem;
  margin: 0;
}


.btn-like {
  width: 1.25rem;
  height: 1rem;
  margin: 0 10px;  /* Add some margin between button and text */

  /* Rest of your styles for the button */


  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);

  cursor: pointer;
}

.btn-like:active {
  color: red;
}

.btn-like:hover::before,
.btn-like:hover::after {
  background: #ffe81f;
}

.btn-like::before,
.btn-like::after {
  content: "";

  position: absolute;

  width: 1.25rem;
  height: 2rem;

  background: #9ca3af;
  border-radius: 5rem 5em 1rem 1rem;
}

.btn-like::before {
  left: 1.25rem; /* Half the original width */
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.btn-like::after {
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

p {
  margin: auto ;
  justify-content: end;
}

