<header class="site-header">
  <div class="logo-container">
    <img src="https://lumiere-a.akamaihd.net/v1/images/sw_logo_stacked_2x-52b4f6d33087_7ef430af.png?region=0,0,586,254"
      alt="Star Wars Logo" class="logo" [routerLink]="['/']">
  </div>
  <nav class="navbar">
    <ul class="nav-menu">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/forum']" (click)="scrollDown()">Forum</a>
        <div class="dropdown">
          <a [routerLink]="['/forum']" (click)="scrollDown()">View Posts</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/characters']" (click)="scrollDown()">Characters</a>
        <div class="dropdown">
          <a [routerLink]="['/characters']" (click)="scrollDown()">View characters</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" (click)="scrollDown()">Planets</a>
        <div class="dropdown">
          <a [routerLink]="['/']" (click)="scrollDown()">View planets</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/starships']" (click)="scrollDown()">Starships</a>
        <div class="dropdown">
          <a [routerLink]="['/starships']" (click)="scrollDown()">View starships</a>
        </div>
      </li>
      <li class="nav-item" id="upper-header">
        <a *ngIf="!isLoggedIn" class="nav-link" [routerLink]="['/login']">Log In</a>
        <a *ngIf="isLoggedIn" class="nav-link" (click)="logout()">Log Out</a>
      </li>

    </ul>

  </nav>
</header>

<router-outlet></router-outlet>
