.section-text {
    min-height: 90vh;
    background-image: url(https://kartinki.pics/uploads/posts/2021-07/1626126661_29-kartinkin-com-p-zvezda-smerti-art-art-krasivo-30.jpg);
    background-size: cover;
    background-position: center;
}

.center-content {
    color: #ddd;
    text-align: center;
    padding: 4%;
}

.center-content h1 {
    margin-bottom: 1%;
    font-weight: bolder;
    font-size: 60px;
}

.center-content p {
    margin-top: 0;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 2%;
}

.center-content button {
    background-color: #181720;
    color: #fff;
    border: 1px solid #333; 
    padding: 20px 30px;
    cursor: pointer;
    margin: 5px;
    font-weight: 700;
}

.center-content button:hover {
    background-color: #5d5d5e;
}