.forum-container {
  text-align: center; /* Центрирует кнопку по горизонтали */
  padding-top: 15px;
  padding-bottom: 15px;

}

button {
  background-color: #ffe81f;
  border-radius: 4px;
  font-family: DINNext, Matterhorn, Helvetica, sans-serif;
  font-weight: 800;
  border-color: #ffe81f;
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  font-size: 18px;
}

