<div class="about-post" *ngFor = "let post of posts">
  <div class="post-header">
    <span class="author">{{ post.author }}</span>
    <span class="post-time">{{ post.createdDate }}</span>
  </div>
  <div class="post-content">
    <h3>{{ post.title }}</h3>
    <h4>{{ post.content }}</h4>
  </div>
  <div class="post-footer">
    <a [routerLink]="['/comment', post.id]" class="view-comments-btn"  >View Comments {{post.comments}}</a>
    <div class="like-container" (click)="like(post.id)">
      <div class="btn-like"></div>
      <p class="likes-count">{{post.likes}}</p>
    </div>
  </div>
</div>


